{% for link in linklists[menu].links %}
  {% assign normalized_title = link.title | strip | downcase %}
  {% assign normalized_url = link.url | downcase %}
  {% assign link_label = link.title %}
  {% assign hide_link = false %}
  {% if normalized_url contains '/cart' or normalized_url contains '/checkout' or normalized_url contains '/collections' or normalized_url contains '/products' %}
    {% assign hide_link = true %}
  {% endif %}
  {% if normalized_title == 'cart' or normalized_title == 'checkout' or normalized_title == 'shop' or normalized_title == 'products' or normalized_title == 'collections' %}
    {% assign hide_link = true %}
  {% endif %}
  {% if normalized_url contains '/account' %}
    {% assign hide_link = true %}
  {% endif %}
  {% unless hide_link %}
    <li><a href="{{ link.url }}" class="{% if link.active %}active{% endif %} {% if linklists[link.handle] != empty %}dropdown_link{% else %} top_link {% endif %}" data-dropdown-rel="{{ link.handle }}"{% if linklists[link.handle] != empty %} aria-haspopup="true" aria-expanded="false"{% endif %}>{{ link_label }} {% if linklists[link.handle] != empty %}<span class="icon-down-arrow" aria-hidden="true"></span>{% endif %}</a></li>
  {% endunless %}
{% endfor %}
