{% assign investigations_blog = blogs['crime'] %}
{% assign about_page = pages['about-shadab-chow'] %}
{% assign contact_page = pages['contact'] %}

{% assign investigations_blog_url = '/blogs/crime' %}
{% if investigations_blog != blank %}
  {% assign investigations_blog_url = investigations_blog.url %}
{% endif %}

{% assign about_url = '/pages/about-shadab-chow' %}
{% if about_page != blank %}
  {% assign about_url = about_page.url %}
{% endif %}

{% assign contact_url = '/pages/contact' %}
{% if contact_page != blank %}
  {% assign contact_url = contact_page.url %}
{% endif %}

<li><a href="/" class="{% if request.path == '/' %}active{% endif %} top_link">Home</a></li>
<li><a href="{{ investigations_blog_url }}" class="{% if request.path contains '/blogs/crime' %}active{% endif %} top_link">Investigations</a></li>
<li><a href="{{ about_url }}" class="{% if request.path contains '/pages/about-shadab-chow' %}active{% endif %} top_link">About</a></li>
<li><a href="{{ contact_url }}" class="{% if request.path contains '/pages/contact' %}active{% endif %} top_link">Contact</a></li>
