{% assign investigations_blog = blogs['crime'] %}
{% assign about_page = pages['about-shadab-chow'] %}
{% assign contact_page = pages['contact'] %}

{% assign investigations_blog_url = '/blogs/crime' %}
{% if investigations_blog != blank %}
  {% assign investigations_blog_url = investigations_blog.url %}
{% endif %}

{% assign about_url = '/pages/about-shadab-chow' %}
{% if about_page != blank %}
  {% assign about_url = about_page.url %}
{% endif %}

{% assign contact_url = '/pages/contact' %}
{% if contact_page != blank %}
  {% assign contact_url = contact_page.url %}
{% endif %}

<li data-mobile-dropdown-rel="home">
  <a data-no-instant href="/" class="parent-link--true">Home</a>
</li>
<li data-mobile-dropdown-rel="investigations">
  <a data-no-instant href="{{ investigations_blog_url }}" class="parent-link--true">Investigations</a>
</li>
<li data-mobile-dropdown-rel="about">
  <a data-no-instant href="{{ about_url }}" class="parent-link--true">About</a>
</li>
<li data-mobile-dropdown-rel="contact">
  <a data-no-instant href="{{ contact_url }}" class="parent-link--true">Contact</a>
</li>
